.main_block {
  background-color: white;
  font-family: Arial;
  margin-left: 5%;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 250px;
  justify-content: space-evenly;
  align-items: left;
  padding: 5px;
}

.flex-container > div {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  text-align: left;
  margin: 5px 5px 5px 5px;
  width: 30%;
  padding: 10px;
}

.text_info {
  flex-grow: 2; /* twice as wide as other divs */
}

#op_info {
	  border-radius: 10px;
}

